@model Orchard.Cw.Disqus.Models.DisqusSettingsPart

<fieldset>
    <legend>Disqus</legend>
    <div>
        @Html.LabelFor(model => model.Shortname, T("Disqus Shortname"))
        @Html.EditorFor(model => model.Shortname)
        @Html.ValidationMessageFor(model => model.Shortname)
        <span class="hint">@T("The shortname gassociated with your disqus account and website.")</span>
    </div>
</fieldset>