@model Orchard.Cw.Disqus.Models.DisqusSettingsPart

<fieldset>
  <legend>Disqus</legend>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.Shortname, T("Disqus Shortname"))
  </div>
  <div class="editor-field">
    @Html.TextBoxFor(model => model.Shortname)
    @Html.ValidationMessageFor(model => model.Shortname)
  </div>
  <span class="hint">@T("The shortname given to you by disqus, associated with your account and website.")</span>

</fieldset>